# Python Exercises - Pandas

## Problem 1

Imagine three people, e.g. family, friends, cohort.

Create a pandas data frame called `cities_df` that contains the following columns:

* Cities - At least 5 cities in the US
* States - The states that those cities reside in
* Region - The region that those cities reside in (NW, SW, Midwest, etc.)
* Times_1 - The number of times person 1 has been to each city
* Times_2 - The number of times person 2 has been to each city
* Times_3 - The number of times person 3 has been to each city

## Problem 2

Use the `.describe()` and `.info()` methods on your data frame

## Problem 3

Use indexing to access the Cities column

## Problem 4

Create a new column called `Total_Times` that contains the total number of times all team members have been to each city.

## Problem 5

Use indexing to access the cities that have been travelled to more than two times.

## Problem 6

Make a bar plot with `Cities` on the x axis and `Total_Times` on the y axis.

## Problem 7

Drop the 'Total_Times' column from your data frame.

## Problem 8

Restructure your data frame using the pandas `.melt()` method. In the `.melt()` method, specify `id_vars = ['Cities', 'States', 'Region']`. Save the melted data frame as a new variable called `cities_df_melted`. Print out `cities_df_melted`.

> Note: make sure to read through the documentation for the `.melt()` method to understand what the method does.

## Problem 9

Use the seaborn `barplot()` function to create a barplot of `cities_df_melted` with `Cities` on the x axis, `value` on the y axis and the hue parameter set to `variable`.